[submodule "example/texture/js/fragment-shader/glsl-easing"]
	path = example/texture/js/fragment-shader/glsl-easing
	url = https://github.com/glslify/glsl-easings.git
[submodule "example/glsl-easings"]
	path = example/glsl-easings
	url = https://github.com/glslify/glsl-easings.git
